<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.secimConnectionString"
            connectionString="Data Source=ISMAIL;Initial Catalog=secim;User ID=sa;Password=ince298"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>